<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jeśli ktoś wejdzie /public/... to zrób 301 na /...
    RewriteRule ^public/(.*)$ /$1 [R=301,L]

    # Jeśli plik lub katalog istnieje w root, serwuj normalnie
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Cały ruch kieruj do /public
    RewriteRule ^ public%{REQUEST_URI} [L]
</IfModule>